<div id="inForm">
    <h3>Enter a new listing</h3>
    <form ng-submit="hc.addProperty()">
        <input type="float" placeholder="Cost" ng-model="hc.cost">
        <input type="float" placeholder="Square Footage" ng-model="hc.sqft">
        <input type="text" placeholder="City" ng-model="hc.city">
        <select class="selectBox" ng-model="hc.type" name="type">
            <option value="" disabled selected>Choose Type</option>
            <option value="rent">Rent</option>
            <option value="sale">Sale</option>
        </select>
        <select class="selectBox" ng-model="hc.image_path" name="image">
            <option value="" disabled selected>Choose Image</option>
            <option value="classic-flats.jpg">Classic Flats</option>
            <option value="rental.jpg">Rental</option>
            <option value="rental2.jpg">Rental 2</option>
            <option value="shiny.jpg">Shiny</option>
            <option value="stony.jpg">Stony</option>
            <option value="older.jpg">Older</option>
            <option value="haunted.png">Haunted</option>
        </select>
        <input type="submit" value="Add Property">
    </form>
</div>